
/********************************
 * generic als elements styling
 ********************************/
.als-container {
 bottom: 50px;
    margin: 0 1%;
    position: fixed;
    width: 98%;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}


/**************************
 * specific als elements
 * styling for #lista1
 **************************/
#lista1{
 z-index: 10;
}
#lista1 .als-item {
	margin: 10px 0;
	min-height: 62px;
	min-width: 62px;
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
}

#lista1 .als-prev, #lista1 .als-next {
	top: 28px;
	width: 15px;
	height: 22px;
}

#lista1 .als-prev {
	left: 20px;
}

#lista1 .als-next {
	right: 20px;
}

/************************
 * specific als element
 * styling for #lista2
 ***********************/

#lista2 {
	margin-bottom: 80px;
}

#lista2 .als-item {
	margin: 10px 0px;
	min-height: 152px;
	min-width: 128px;
}

#lista2 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista2 .als-prev, #lista2 .als-next {
	left: 460px;
	width: 22px;
	height: 15px;
}

#lista2 .als-prev {
	top: -25px;
}

#lista2 .als-next {
	bottom: -20px;
}

#lista2 .als-item {
	vertical-align: middle;
}

/*********************
 * footer style
 ********************/

#footer {
	width: 928px;
	margin: 0 auto;
	padding: 5px 15px;
	border: 1px dashed #000;
	border-radius: 10px;
}

#footer p {
	position: relative;
	margin: 5px auto 10px auto;
	width: 960px;
	font-size: 12px;
}

#footer p.ultimo {
	margin-bottom: 5px;
}
.als-container{
    background: none repeat scroll 0 0 #fafafa;
    border: 1px dashed #000;
    border-radius: 10px;
}
.als-item a img{
	width:60px;
	height:60px;
}