.hasSmurfbar #blueBarHolder #blueBar:after {
   /* background-image: url("../images/line.png");*/
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    bottom: -4px
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
}
.hasSmurfbar #blueBarHolder #blueBar {
    /*background-color: #4C66A4;*/
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    border: 0 none;
    position: relative;
}

.hasSmurfbar #blueBarHolder #pageHead {
    margin: 0 auto;
    width: 90%;
}
.hasSmurfbar #blueBarHolder #blueBar #pageHead {
    padding-top: 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#pageLogo {
    float: left;
    padding-right: 1px;
    z-index: 5;
}
.hasSmurfbar #blueBarHolder #headNav {
    margin: 0;
	height: 100%;
}

.rfloat {
    float: right;
}

.hasSmurfbar #headNav #pageNav {	
    margin: 5px 0 0;
    overflow: hidden;
}
 
._585_ {
    background-image: url("../images/Bbz4Buqzgqn.png");
    background-position: 0 -1598px;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    z-index: 2;
}
html #pageLogo._5bfh a {
    background-image: url("../images/Bbz4Buqzgqn.png");
    background-position: 0 -784px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 41px;
    padding: 0;
    position: relative;
    width: 41px;
    z-index: 2;
}

#pageLogo a, #pageLogo a:hover, #pageLogo a:focus, #pageLogo a:active {
    display: block;
    outline: medium none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
}
._585- {
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px #F9F9F9 inset, 0 1px 0 0 #E5E5E5 inset, 0 -1px 0 0 #2F477A;
    height: 24px;
    margin-left: 33px;
    margin-top: 0;
    max-width: 550px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 25px;
    position: relative;
    top: 9px;
    width: auto;
}

body{
	color: #333333;
    direction: ltr;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
}
ul {
    list-style-type: none;
}
.fbJewel {
    float: left;
    margin-right: -1px;
    position: relative;
}

._5bfg #jewelContainer {
    margin-top: -5px;
    padding: 0px;
}

#jewelContainer {
    float: left;
    position: relative;
    z-index: 4;
}
._5bfw #fbRequestsJewel a.jewelButton, ._5bfw #fbRequestsJewel a.jewelButton:focus, ._5bfw #fbRequestsJewel a.jewelButton:hover, ._5bfw #fbRequestsJewel a.jewelButton:active {
    background-image: url("../images/QWQvCtXLHXG.png") !important;
    background-position: -2px -1501px !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}
._5bfg #jewelContainer a.jewelButton, ._5bfg #pageNav .navLink, ._5bfg #pageNav .navLink:hover, ._5bfg #pageNav .navLink:focus {
    background: none repeat scroll 0 0 transparent;
}
._5bfw #fbRequestsJewel a.jewelButton, ._5bfw #fbRequestsJewel a.jewelButton:focus, ._5bfw #fbRequestsJewel a.jewelButton:hover, ._5bfw #fbRequestsJewel a.jewelButton:active {
    background-image: url("../images/Bbz4Buqzgqn.png") !important;
    background-position: -2px -1501px !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}
._5bfg .fbJewel a.jewelButton {
    height: 50px;
    margin-top: 6px;
    padding: 0px;
    width: 50px;
}
._5bfg .fbJewel a.avataruser {
    height: 50px;
    margin-top: 6px;
    padding: 0px;
    width: 50px;
}
.fbJewel a.avataruser {
    display: block;
    position: relative;
    text-decoration: none;
}
._5bfg .fbJewel .jewelCount {
    background-color: transparent;
    border-radius: 0 0 0 0;
    overflow: visible;
    padding: 0;
    right: -1px;
    top: 0;
}
.fbJewel a.jewelButton {
    display: block;
    height: 31px;
    margin: 0 1px;
    position: relative;
    text-decoration: none;
    width: 24px;
}
._5bfw #fbMessagesJewel.hasNew a.jewelButton, ._5bfw .notifNegativeBase #fbMessagesJewel.openToggler a.jewelButton, ._5bfw .notifNegativeBase #fbMessagesJewel.openToggler a.jewelButton:hover {
    background-image: url("../images/Bbz4Buqzgqn.png") !important;
    background-position: -1px -1361px !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}
._5bfw #fbMessagesJewel a.jewelButton, ._5bfw #fbMessagesJewel a.jewelButton:focus, ._5bfw #fbMessagesJewel a.jewelButton:hover, ._5bfw #fbMessagesJewel a.jewelButton:active {
    background-image: url("../images/Bbz4Buqzgqn.png") !important;
    background-position: -1px -1431px !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}

._5bfg #fbMessagesJewel .jewelButton {
    padding: 0 3px;
}

._5bfw #fbNotificationsJewel a.jewelButton, ._5bfw #fbNotificationsJewel a.jewelButton:focus, ._5bfw #fbNotificationsJewel a.jewelButton:hover, ._5bfw #fbNotificationsJewel a.jewelButton:active {
    background-image: url("../images/css/icon-push.png") !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}
._5bfw #fsAnaylyticsButton a.jewelButton, ._5bfw #fsAnaylyticsButton a.jewelButton:focus, ._5bfw #fsAnaylyticsButton a.jewelButton:hover, ._5bfw #fsAnaylyticsButton a.jewelButton:active {
    background-image: url("../images/css/icon-push.png") !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
}


#pageLogo._5bfh {
    margin-left: -6px;
    margin-top: 2px;
    position: absolute;
}

#pageLogo {
    float: left;
    margin-left: -7px;
    padding-right: 1px;
    z-index: 5;
}

h1 {
    font-size: 18px;
}
.jewelCount {
    display: block;
}
.fbJewel .jewelCount {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 0 0;
    overflow: visible;
    padding: 0;
    right: -1px;
    top: 0;
}

.fbJewel .jewelCount {
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 9px;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 1px;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 101;
}

.jewelCount span {					
	background-color:red;
	border: medium none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-family: "Helvetica Neue",Helvetica,Arial,"segoe ui",tahoma,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    min-width: 12px;
    padding: 2px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
#headintro{
float:left;
margin: 0 auto;
width:84%;
padding:8px 0;
text-align:center;
display:block;
left: 50%;
/*margin-left: -400px;*/
}
#headintro{
	font:normal 22px/22px 'MyCustomFont1', Verdana, Arial, sans-serif !important;
	color:#fff;
}
/*a{color:#797979; font:normal 20px/20px 'MyCustomFont1', Verdana, Arial, sans-serif !important;}*/
@font-face {
 font-family: 'MyCustomFont1';
 src: url("../images/css/font/UTM_IsadoraR.eot") /* EOT file for IE */
}
@font-face {
 font-family: 'MyCustomFont1';
 src: url("../images/css/font/UTM_Facebook.ttf") format("truetype");/* TTF file for CSS3 browsers */
}
#pageNav .fbJewel{margin-right:10px;}

#headleft img{
width:100%; height:72px; margin-top:0px;
}
span#anaylyticsCountWrapper{
display:none;
}
#anaylyticsCountValue{
display:none;
}
span#notificationsCountWrapper {
display:none;
}


#iconemailCountValue{
display:none;
}
span#emailCountWrapper {
display:none;
}
#pagelet_bluebar{

position:fixed; top:0px; margin:0;padding:0; width:100%; z-index:1111;
/*background:url('../images/css/xmas_bg_n.gif')!important;*/
background-color: #475A8E;
height: 8%;
box-shadow: 0px 3px 3px #888888;
}
