.contentbox
{
width:99%; height:20px;
border:solid 2px #333;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
margin-bottom:6px;
color:#aaa;
text-align:left;
}
.display_box.img
{
float:left; width:150px; margin-right:10px;
text-align:center;
}
#msgbox
{
border:solid 1px #dedede;padding:5px;
display:none !important;background-color:#f2f2f2;
}
.display_box a
{
text-decoration:none;
}
.display_box a:hover
{
text-decoration:none;
}
#display
{
display:none;
border-left:solid 1px #dedede;
border-right:solid 1px #dedede;
border-bottom:solid 1px #dedede;
overflow:hidden;
}
.display_box
{
padding:4px; border-top:solid 1px #dedede; font-size:12px; height:30px;
}
 
.display_box:hover
{
background:#3b5998;
color:#fff;
}

.boxtagdivscroll .selected
{
background:#3b5998;
color:#fff;
}

.display_box a
{
color:#333;
}
.display_box a:hover
{
color:#fff;
}
.image
{
width:25px; float:left; margin-right:6px
}
.highlighter b{background:#d8dfea;background:-moz-linear-gradient(#dce6f8, #bdcff1);border-radius:2px;box-shadow:0 0 0 1px #a3bcea;font-weight:normal}
.boxtagfull{ left: 60px;
    position: absolute;
    top: 11px;
    width: 86%;
    z-index: 1000;}
.comment-div{z-index:1000;}
.boxtag{ border:1px solid #111; position:absolute;top:25px; z-index:1000; background:#fff;display:none;}
.comment{
background: none repeat scroll 0 0 #f6f7f8;
    border: 1px solid #e7e8e8;
}
.boxtagtitle{font-weight: bold;
    padding: 5px;
	}
.tagnameboxinput{border:none}	
.boxtagdivscroll{ height:200px;width:448px}
.UFIList-Cmt{z-index:1000;}
    [contentEditable=true]:empty:not(:focus):before{
        content:attr(data-ph)
    }
.addname{font-weight:bold}
#boxms {
    position:absolute;
    top: 50%;
    left: 50%;
    width:600px;
    height:220px;
    margin-top: -117px; /*set to a negative number 1/2 of your height*/
    margin-left: -300px; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
#btsent{
margin:2px;padding:10px 20px; float:right; background-color:#4e69a2; border-color:#435a8b #3c5488 #334c83;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);border-radius:2px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);font-weight:bold;
cursor: pointer;
cursor: hand;
}